@{ 
    ViewBag.Title = "Not found";
    Layout = "_Layout";
}
<h1>@ViewBag.ErrorMessage</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger">Click here to navigate home page</a>
